@import "tailwindcss";

:root {
  --background: #242424;
  --foreground: rgba(255, 255, 255, 0.87);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #213547;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in;
}
